*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

html {
    box-sizing: border-box;

}

body {
    background-color: #2cbc1e;
    font-family: 'Source Serif Pro', serif;
}

h1 {
    text-align: center;
    font-size: 3em;
}

nav {
    background-color: dimgrey;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: .3em;
    /* font-family: 'Arial', 'Helvetica', 'sans-serif'; */
    color: #2cbc1e;
    margin: 0;
}

nav a {
    margin: .3em 1em;
    color: goldenrod;
}

nav a:hover {
    color: white;
}

.wrapper {
    background-color: white;
}

h1, h2, h3 {
    padding-left: .4em;
    padding-bottom: .3em;
    padding-top: .3em;
    background-color: navy;
    color: white;
}

h1 {
    text-transform: uppercase;
}

.img-psych {
    width: 100%; 
    height: auto;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.76));
    display: block;

}

.flex-container {
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    background: radial-gradient(circle, dimgrey, black);
    margin: 0;

}

.flex-item {
    background-color: navy;
    color: white;
    width: 30%;
    margin: 1em;
    text-align: center;
}
.cast-img {
    width: 100%;
    padding: 1em;
    box-shadow: black 5px 5px 5px;
    background-color: #2cbc1e;
    
}
.main-img {
    margin: 0;
    display: block;

}
main {
    flex: 2;
    margin: 1em;
    color: white;
    text-shadow: black 2px 2px;
}

aside {
    flex: 1;
    margin: 1em;
    color: white;
    text-shadow: black 2px 2px;
}

footer {
    background-color: dimgrey;
    text-align: center;
    color: #2cbc1e;
    width: 100%;
    box-sizing: border-box;
    padding: .1em;
}

footer a {
    color: goldenrod;
}

footer a:hover {
    color: white;
}
